@font-face {
	font-family: icons;
	font-display: swap;
	src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Nexa;
	font-display: swap;
	src: url("../fonts/Nexa-Trial-Black.woff2") format("woff2"), url("../fonts/Nexa-Trial-Black.woff") format("woff");
	font-weight: 950;
	font-style: normal;
  font-display: swap;
}
@font-face {
	font-family: Nexa;
	font-display: swap;
	src: url("../fonts/Nexa-Trial-Bold.woff2") format("woff2"), url("../fonts/Nexa-Trial-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
  font-display: swap;
}
@font-face {
	font-family: Nexa;
	font-display: swap;
	src: url("../fonts/Nexa-Trial-ExtraBold.woff2") format("woff2"), url("../fonts/Nexa-Trial-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
  font-display: swap;
}
@font-face {
	font-family: Nexa;
	font-display: swap;
	src: url("../fonts/Nexa-Trial-Heavy.woff2") format("woff2"), url("../fonts/Nexa-Trial-Heavy.woff") format("woff");
	font-weight: 900;
	font-style: normal;
  font-display: swap;
}
@font-face {
	font-family: Nexa;
	font-display: swap;
	src: url("../fonts/Nexa-Trial-Regular.woff2") format("woff2"), url("../fonts/Nexa-Trial-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
  font-display: swap;
}
@font-face {
	font-family: Nexa;
	font-display: swap;
	src: url("../fonts/Nexa-Trial-Book.woff2") format("woff2"), url("../fonts/Nexa-Trial-Book.woff") format("woff");
	font-weight: 300;
	font-style: normal;
  font-display: swap;
}
