@font-face {
	font-family: icons;
	font-display: swap;
	src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Nexa;
	font-display: swap;
	src: url("../fonts/Nexa-Black.woff2") format("woff2"), url("../fonts/Nexa-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
// @font-face {
// 	font-family: NexaBook;
// 	font-display: swap;
// 	src: url("../fonts/Nexa-Book.woff2") format("woff2"), url("../fonts/Nexa-Book.woff") format("woff");
// 	font-weight: 400;
// 	font-style: normal;
// }
@font-face {
	font-family: Nexa;
	font-display: swap;
	src: url("../fonts/Nexa-Bold.woff2") format("woff2"), url("../fonts/Nexa-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Nexa;
	font-display: swap;
	src: url("../fonts/Nexa-Regular.woff2") format("woff2"), url("../fonts/Nexa-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Nexa;
	font-display: swap;
	src: url("../fonts/Nexa-Thin.woff2") format("woff2"), url("../fonts/Nexa-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: Nexa;
	font-display: swap;
	src: url("../fonts/Nexa-Heavy.woff2") format("woff2"), url("../fonts/Nexa-Heavy.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
// @font-face {
// 	font-family: Nexa;
// 	font-display: swap;
// 	src: url("../fonts/Nexa-XBold.woff2") format("woff2"), url("../fonts/Nexa-XBold.woff") format("woff");
// 	font-weight: 400;
// 	font-style: normal;
// }
@font-face {
	font-family: Nexa;
	font-display: swap;
	src: url("../fonts/Nexa-Light.woff2") format("woff2"), url("../fonts/Nexa-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
