// Заголовки, общие БЄМ блоки и проче...
.promo {
  background: url("@img/header_background.jpg") center center/cover no-repeat;
}
.btn {
  cursor: pointer;
  width: 200px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 14px rgba(111, 89, 6, 0.2);
  background: #fecb0b;
  line-height: math.div(22, 16);
  &-long {
    cursor: pointer;
    width: 234px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 14px rgba(111, 89, 6, 0.2);
    background: #FECB0B;
    line-height: math.div(22 , 16);
  }
}
.title {
  text-align: center;
  font-weight: 700;
  font-size: rem(32);
  line-height: math.div(38, 32);
}
