.footer {
  padding-top: 20px;
  background-color: $mainColor;
  // .footer__container
  &__container {
  }
  // .footer__wrapper
  &__wrapper {
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1050px) {
      flex-direction: column;
    }
  }
  // .footer__main
  &__main {
    @media (max-width: 1050px) {
      display: flex;
      align-items: center;
      @include adaptiveValue("column-gap", 30, 22, 768, 375, 1);
    }
  }
  // .footer__logo
  &__logo {
    display: block;
    width: 80px;
    height: 52px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (max-width: 1050px) {
      order: -1;
    }
  }
  // .footer__phone
  &__phone {
    margin-top: 40px;
    @media (max-width: 1050px) {
      margin-top: 0;
      order: 2;
    }
  }
  // .footer__social
  &__social {
    margin-top: 40px;
    display: flex;
    align-items: center;
    column-gap: 16px;
    @media (max-width: 1050px) {
      order: 1;
      margin-top: 0;
    }
  }
  // .footer__info
  &__info {
    display: flex;
    @include adaptiveValue("column-gap", 20, 10, 1440, 768, 1);
    align-self: flex-end;
    font-family: "Roboto";
    font-size: rem(18);
    line-height: math.div(24, 18);
    color: $whiteColor;
    @media (max-width: 1050px) {
      margin-top: 40px;
      align-self: flex-start;
    }
    @media (max-width: 768px){
      flex-direction: column;
      row-gap: 40px;
    }
  }
  // .footer__policy
  &__policy {
    padding: 16px 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    p {
      font-family: "Roboto";
      text-align: center;
      font-size: rem(10);
      line-height: math.div(18, 10);
      color: $whiteColor;
    }
  }
}
.phone-footer {
  // .phone-footer__number
  &__number {
    font-size: rem(18);
    // @include adaptiveValue("font-size", 18, 14 );
    line-height: math.div(22, 18);
    color: $whiteColor;
    white-space: nowrap;
  }
  // .phone-footer__desc
  &__desc {
    cursor: pointer;
    margin-top: 8px;
    font-size: rem(12);
    line-height: math.div(16, 12);
    color: $themeColor;
  }
}
.social-footer {
  // .social-footer__vk
  &__vk {
    @include adaptiveValue("width", 36, 28, 768, 375, 1);
    @include adaptiveValue("height", 36, 28, 768, 375, 1);
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  // .social-footer__odnoklassniki
  &__odnoklassniki {
    @include adaptiveValue("width", 36, 28, 768, 375, 1);
    @include adaptiveValue("height", 36, 28, 768, 375, 1);
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
.info-footer {
  // .info-footer__item
  &__item {
    max-width: 277px;
  }
}
.item-info-footer {
  // .item-info-footer__city
  &__city {
  }
  // .item-info-footer__address
  &__address {
    margin-top: 16px;
  }
  // .item-info-footer__mail
  &__mail {
    margin-top: 16px;
  }
}
