.promo {
  width: 100vw;
  height: 100vh;
  @include adaptiveValue("padding-bottom", 250, 151);
  // .promo__small-container
  &__small-container {
  }
  // .promo__title
  &__title {
    max-width: 516px;
    margin-top: 158px;
    @include adaptiveValue("margin-top", 158, 91);
    font-weight: 900;
    font-size: rem(48);
    @include adaptiveValue("font-size", 48, 30);
    line-height: math.div(56 , 48);
    color: $whiteColor;
  }
  // .promo__desc
  &__desc {
    margin-top: 24px;
    font-size: rem(18);
    line-height: math.div(22 , 18);
    color: $whiteColor;
  }
  // .promo__btn
  &__btn {
    margin-top: 24px;
  }
}
