.project-popup {
  position: relative;
  // .project-popup__close
  &__close {
    position: absolute;
    @include adaptiveValue("top", 24, 4);
    @include adaptiveValue("right", 24, 8);
    width: 48px;
    height: 48px;
    z-index: 2;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  // .project-popup__header
  &__header {
    display: flex;
    column-gap: 20px;
    @media (max-width: 768px){
      display: block;
    }
  }
  // .project-popup__view
  &__view {
    @media (max-width: 768px){
      margin-top: 8px;
    }
  }
  // .project-popup__slider-top-container
  &__slider-top-container {
    // width: 380px;
    @include adaptiveValue("width", 380, 343, 768, 375, 1);
    @include adaptiveValue("height", 380, 343, 768, 375, 1);
    // height: 380px;
    min-width: 0;
    overflow: hidden;
    // @media (max-width: 768px){
    //   width: unset;
    //   height: unset;
    // }
  }
  // .project-popup__slider-thumbs-container
  &__slider-thumbs-container {
    margin-top: 16px;
    width: 380px;
    @include adaptiveValue("width", 380, 343, 768, 375, 1);
    min-width: 0;
    overflow: hidden;
  }
  // .project-popup__info
  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 54px;
    @media (max-width: 768px){
      
    }
  }
  // .project-popup__btn
  &__btn {
    margin-top: 40px;
    width: 228px;
  }
}
.project-popup-slider {
  // .project-popup-slider__slider
  &__slider {
  }
  // .project-popup-slider__wrapper
  &__wrapper {
  }
  // .project-popup-slider__slide
  &__slide {
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  // .project-popup-slider__thumb
  &__thumb {
    // img {
    //   width: 100%;
    //   height: 100%;
    //   object-fit: cover;
    // }
  }
}
.info-project-popup {
  // .info-project-popup__wrapper
  &__wrapper {
  }
  // .info-project-popup__title
  &__title {
    font-weight: 700;
    font-size: rem(32);
    line-height: math.div(38, 32);
  }
  // .info-project-popup__characteristics
  &__characteristics {
    font-family: "Roboto";
    margin-top: 16px;
    line-height: math.div(20, 16);
  }
  // .info-project-popup__price
  &__price {
    margin-top: 24px;
    font-weight: 700;
    font-size: rem(22);
    line-height: math.div(26, 22);
    span {
      font-family: "Roboto";
      font-weight: 400;
    }
  }
  // .info-project-popup__estimate
  &__estimate {
    margin-top: 16px;
    width: 252px;
  }
  // .info-project-popup__credit-title
  &__credit-title {
  }
  // .info-project-popup__payment
  &__payment {
    line-height: math.div(20 , 16);
    margin-top: 12px;
  }
  // .info-project-popup__request
  &__request {
    margin-top: 16px;
  }
}
.credit-price {
  span {
    font-weight: 700;
  }
}

.project-popup-slider-thumbs__wrapper {
  height: 60px !important;
}

.gallery-thumb {
  // .gallery-thumb__img
  &__img {
    // width: 83px;
    @include adaptiveValue("width", 83, 76, 768, 375, 1);
    @include adaptiveValue("height", 60, 56, 768, 375, 1);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

caption {
  text-align: left;
  margin-bottom: 12px;
}
table {
  width: 968px;
  border-collapse: collapse;
  &:not(:last-child) {
    margin-bottom: 12px;
  }
  tbody {
    border-bottom: 1px solid $themeColor;
    th {
      text-align: left;
      width: 300px;
      font-weight: 400;
      font-size: rem(12);
      line-height: math.div(20, 12);
      &:not(:last-child) {
        padding-bottom: 16px;
        span {
          font-family: 'Roboto';
        }
      }
    }
    tr:last-child {
      th,
      td {
        padding-bottom: 15px;
        span {
          font-family: 'Roboto';
        }
      }
    }
    td {
      width: 200px;
      padding-bottom: 16px;
      text-align: center;
      font-weight: 400;
      font-size: rem(12);
      line-height: math.div(20, 12);
    }
  }
}

.project-popup {
  // .project-popup__table
  &__table {
    margin-top: 40px;
  }
}
.table-popup {
  // .table-popup__wrapper
  &__wrapper {
    overflow: auto;
    max-height: 1900px;
    transition: height 0.5s ease 0s;
  }
  // .table-popup__title
  &__title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: rem(18);
    line-height: math.div(24, 18);
  }
  // .table-popup__equipment
  &__equipment {
    thead {
      th {
        font-weight: 700;
        font-size: rem(12);
        line-height: math.div(20, 12);
        &:not(:first-child) {
          width: 200px;
        }
      }
    }
  }
  // .table-popup__expand
  &__expand {
    cursor: pointer;
    padding: 14px 0;
    border-top: 1px solid $themeColor;
    border-bottom: 1px solid $themeColor;
    display: flex;
    align-items: center;
    column-gap: 12px;
  }
}
.equipment__table {
  & tr:nth-child(2) {
    th,
    td {
      padding-top: 12px;
    }
  }
}
.delivery__table {
  tbody {
    border-bottom: unset;
  }
}

.expand-table {
  // .expand-table__arrow
  &__arrow {
    width: 24px;
    height: 24px;
    transition: all 0.5s ease 0s;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  // .expand-table__text
  &__text {
    font-size: rem(12);
    line-height: math.div(20, 12);
  }
}

.table-hide {
  max-height: 600px;
  overflow: auto;
  transition: all 0.5s ease 0s;
}

.table-show {
  max-height: 1900px;
  transition: all 0.5s ease 0s;
}

.arrow-down {
  transform: rotate(-180deg);
  transition: all 0.5s ease 0s;
}

.expand-blur {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    transform: translate(0px, -100%);
    height: 100px;
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #eee 100%);
  }
}

.table-popup__price {
  overflow: auto;
  td,
  th {
    padding-top: 12px;
    padding-bottom: 12px !important;
    font-size: rem(14);
    line-height: math.div(16, 14);
    span {
      font-family: "Roboto";
    }
  }
  th {
    width: 220px;
    @include adaptiveValue("width", 220, 60);
  }
  td {
    width: 100px;
  }
}

.project-popup {
  // .project-popup__additionally
  &__additionally {
    margin-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid $themeColor;
  }
}
.additionally-project {
  // .additionally-project__title
  &__title {
    line-height: math.div(20, 16);
  }
  // .additionally-project__options
  &__options {
    margin-top: 24px;
  }
}
.options-additionally {
  // .options-additionally__item
  &__item {
    display: flex;
    align-items: center;
    // @media (max-width: 560px){
    //   flex-direction: column;
    //   align-items: flex-start;
    // }
  }
}
.item-additionally {
  // .item-additionally__checkbox
  &__checkbox {
  }
  // .item-additionally__price
  &__price {
    width: 600px;
    @include adaptiveValue("width", 600, 120);
    text-align: center;
    font-size: rem(12);
    line-height: math.div(20, 12);
    span {
      font-family: "Roboto";
    }

  }
}
.checkbox-additionally {
  // .checkbox-additionally__input
  &__input {
    &:focus + .checkbox-additionally__label::before {
      box-shadow: unset;
    }
    &:checked + .checkbox-additionally__label::before {
      background: url("@img/icons/yellow_check.svg") center center/cover no-repeat;
    }
  }
  // .checkbox-additionally__label
  &__label {
    &::before {
      content: "";
      flex: 0 0 18px;
      width: 18px;
      height: 18px;
    }
  }
  // .checkbox-additionally__text
  &__text {
    display: block;
    @include adaptiveValue("width", 300, 173);
    font-size: rem(12);
    line-height: math.div(20, 12);
    span {
      font-family: 'Roboto';
    }
  }
}

.gallery-top__img {
  width: 100%;
}

#popup-table {
  padding: 30px 0px;
  .popup__wrapper {
    @media (max-width: 450px){
      width: 100vw;
    }
  }
}

.popup-table__content {
  padding: 60px 60px 40px 0px;
  @include adaptiveValue("padding-left", 60, 16);
  @include adaptiveValue("padding-right", 60, 16);
}
