.video {
  padding: 116px 0px 80px 0px;
  @include adaptiveValue("padding-top", 116, 60);
  @include adaptiveValue("padding-bottom", 80, 60);

  // .video__small-container
  &__small-container {
  }
  // .video__title
  &__title {
  }
  // .video__slider
  &__slider {
    padding: 10px !important;
  }
  // .video__wrapper
  &__wrapper {
  }
  // .video__slide
  &__slide {
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease 0s;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:hover {
      transform: scale(1.1);
      img {
        filter: brightness(60%);
      }
      .video__slide-play {
        opacity: 1;
        visibility: visible;
        img {
          filter: brightness(100%);
        }
      }
    }
  }
  // .video__slide-play
  &__slide-play {
    position: absolute;
    width: 58px;
    height: 66px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
.video-slider {
  // .video-slider__wrapper
  &__wrapper {
    @include adaptiveValue("margin-top", 40, 24);
    position: relative;
    padding: 0 45px;
    @media (max-width: 549px){
      padding: 0 0;
    }
  }
}
.video-slider-arrow-left {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: -40px;
  transform: translate(0px, -50%);
  @media (max-width: 549px) {
    display: none;
  }
}
.video-slider-arrow-right {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -40px;
  transform: translate(0px, -50%);
  @media (max-width: 549px) {
    display: none;
  }
}
.video-mobile-arrows {
  margin-top: 20px;
  display: none;
  @media (max-width: 549px) {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
  }
}
.mobile-video-arrow-left {
  cursor: pointer;
}
.mobile-video-arrow-right {
  cursor: pointer;
}
