.virmak {
  @include adaptiveValue("padding-top", 180, 60);
  position: relative;
  @media (max-width: 960px) {
    padding-top: 266px;
  }
  // .virmak__wrapper
  &__wrapper {
    position: relative;
  }
  // .virmak__left
  &__left {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 486px;
    background-color: $themeColor;
    width: 50%;
    @media (max-width: 960px) {
      display: none;
    }
  }
  // .virmak__right
  &__right {
  }
  // .virmak__content
  &__content {
    position: relative;
    padding: 60px 0px 46px 0px;
    z-index: 2;
    @media (max-width: 960px) {
      padding: 0px 0px 0px 0px;
    }
  }
  // .virmak__small-container
  &__small-container {
  }
  // .virmak__title
  &__title {
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translate(-50%, 0px);
    font-weight: 900;
    @include adaptiveValue("font-size", 100, 60);
    line-height: math.div(120, 100);
    @media (max-width: 960px) {
      @include adaptiveValue("top", 40, 60, 480, 375, 1);
    }
    @media (max-width: 480px){
      @include adaptiveValue("left", 108, -12, 480, 375, 1);
      transform: translate(0px,0px);
    }
  }
  // .virmak__desc
  &__desc {
    @include adaptiveValue("width", 406, 351);
    @include adaptiveValue("font-size", 16, 14);
    line-height: math.div(24, 16);
    span {
      font-weight: 800;
    }
    @media (max-width: 960px) {
      width: auto;
    }
  }
  // .virmak__btn
  &__btn {
    margin-top: 24px;
    background-color: $whiteColor;
    @media (max-width: 960px) {
      margin: 24px auto 0px auto;
    }
  }
  // .virmak__img
  &__img {
    position: absolute;
    @include adaptiveValue("top", 103, 205, 1370, 980, 1);
    right: 0px;
    @include adaptiveValue("width", 743, 536, 1370, 980, 1);
    @include adaptiveValue("height", 428, 313, 1370, 980, 1);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (max-width: 960px){
      top: -123px;
      @include adaptiveValue("right", 262, 17, 960, 480, 1);
      width: 440px;
      height: 256px;
    }
    @media (max-width: 480px){
      @include adaptiveValue("right", 17, -97, 480, 375, 1);
    }
  }
  // .virmak__mobile
  &__mobile {
    padding: 154px 0px 90px 0px;
    display: none;
    background-color: $themeColor;
    @media (max-width: 960px) {
      display: block;
    }
  }
}
